body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Courier New', monospace;
}

.led-clock {
  background-color: #111;
  padding: 40px 60px;
  border: 10px solid #222;
  border-radius: 20px;
  box-shadow: 0 0 50px #0f0;
  text-align: center;
}

#time {
  font-size: 5rem;
  color: #0f0;
  text-shadow: 0 0 20px #0f0, 0 0 40px #0f0;
  letter-spacing: 4px;
}

#date {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #0f0;
  text-shadow: 0 0 10px #0f0;
}
.info{
    color: white;
    margin-bottom: 100px;
}